<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="fondo">
            <img src="./images/logo-mercado-liebre.svg" alt="" width="200" height="200">
                <div class="text">
                    <input class='busqueda'type="search" placeholder="Buscar productos, marcas " style="width: 180px;"></input>
                    <button><i class="fas fa-search"></i></button>
                </div>
                <h1 class='textos'><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</h1>
                <hr><br>
                <ul type='none' class="texto">
                    <li><a href="#">Ofertas</a></il>
                    <li><a href="#">Tiendas Oficiales</a></il>
                    <li><a href="#">Vender</a></il>
                    <li><a href="#">Ayuda</a></il>
                </ul><br>
                <ul type='none' class="texto">
                    <li><a href="#"><i class="far fa-address-card"></i>Creá tu cuenta</a>
                    <li><a href="#"><i class="fas fa-sign-in-alt"></i>Ingresá</a>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i>Mis compras</a>
                </ul><br>
                <center>
                    <button class="menu"><i class="fas fa-bars" style="font-size: 2em;"></i></button>
                </center>
                <br>
        </div>
                <img src="./images/img-home-banner.jpg" alt="" width="600" height="200">
            <br>
    </header>
    <main>
        <body>
                <h2 class="titulares">Basado en tu ultima visita</h2>
                <br><br>
                <div>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="" width="400" height="400">
                    <br>
                    <footer class="precios">$6.770</footer>
                    <footer class="descuentos">40% OFF </footer>
                    <footer class="descripciones">Cafetera Moulinex</footer>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="" width="400" height="400">
                    <br>
                    <footer class="precios">$230.000</footer>
                    <footer class="descuentos">20% off</footer>
                    <footer class="descripciones">MacBook Pro 2019</footer>
                    <br><br><br>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="" width="400" height="400">
                    <br>
                    <footer class="precios">$70.500</footer>
                    <footer class="descuentos">10% off</footer>
                    <footer class="descripciones">Samsung Galaxy S10</footer>
                    <img src="./images/img-tv-samsung-smart.jpg" alt="" width="400" height="400">
                    <br>
                    <footer class="precios">$23.200</footer>
                    <footer class="descuentos">5% off</footer>
                    <footer class="descripciones">SmartTv Samsung 43"</footer>
                </div>
                    <br><br><br>
                    <h2 class="titulares">Ofertas</h2>
                    <br><br>
                    <div>
                        <img src="./images/img-cafetera-moulinex.jpg" alt="" width="400" height="400">
                        <br>
                        <footer class="precios">$6.770 </footer>
                        <footer class="descuentos">40% OFF </footer>
                        <footer class="descripciones">Cafetera Moulinex</footer>
                        <img src="./images/img-macbook-pro-2019.jpg" alt="" width="400" height="400">
                        <br>
                        <footer class="precios">$230.000</footer>
                        <footer class="descuentos">20% off</footer>
                        <footer class="descripciones">MacBook Pro 2019</footer>
                        <img src="./images/img-samsung-galaxy-s10.jpg" alt="" width="400" height="400">
                        <br>
                        <footer class="precios">$70.500</footer>
                        <footer class="descuentos">10% off</footer>
                        <footer class="descripciones">Samsung Galaxy S10</footer>
                    </div>
            <br><br>
    </main>
    <footer>
        <div class="icono">
            <i class="fas fa-credit-card"></i>
        </div>
        <h3 class='textos'>Pagá con tarjeta o en efectivo</h3>
        <br>
        <p class='textos'>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <div class="icono">
            <i class="fas fa-gift"></i>
        </div>
        <h3 class='textos'>Envío gratis desde $ 2.500</h3>
        <br>
        <p class='textos'>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <div class="icono">
            <i class="fas fa-user-shield"></i>
        </div>
        <h3 class='textos'>Seguridad, de principio a fin</h3>
        <br>
        <p class='textos'>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <br>
        <h3 class='textos'>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>


