<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <form method="post" class="">
        <div class="">
            <label>Nombre de usuario:</label>
            <input type="text" name="nuser" class="">    
        </div>
        <div class="">
            <label>Contraseña:</label>
            <input type="password" name="password" class="">    
        </div> 
        <button type="submit" class=""><a href="/">Enviar</a></button>  
        </a>                  
    </form>
</body>
</html>