*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

h3{
  font-size: 24px;
}

p{
  font-size: 12px;
}
div.top-header{
  padding: 5%;
}

header{
  background-color: #EAC926;
}

header div.logo{
  width: 50%;
}

header div.logo{
  padding: 2px;
}
header nav{
  font-size: 12px;
}

header ul li{
  list-style-type: none;
}

header ul li a{
  text-decoration: none;
  color: #000;
}

header .form .input{
  background-color: #FFF;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}
header .form .submit{
  background-color: #FFF;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

header div.top-header p{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu{
  text-align: center;
}

div.burger-menu i{
  background-color: #0044AA;
  color: #FFF;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  margin: auto;
}

article div.main-article{
  width: 100%;
}

.price{
  font-size: 18px;
}

.discount,
.description{
  font-size: 16px;
  font-weight: normal;
}

.flex-price{
  display: flex;
  margin-right: 5px;
}

.flex-price .discount{
  margin-left: 10px;
}

h3,
.description{
  color: #666;
}

section.banner img{
  width: 100%;
}

main{
  width: 90%;
  margin: auto;
}

main section article{
  background-color: #fff;
}

main section article img{
  width: 100%;
}

main section article i,
.discount{
  color: #39b54a;
}

/* main section article i{
  align-self: flex-end;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
} */

article {
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.main-article {
  border-top: solid 1px #ebebeb;
  padding: 15px;
}

.icono {
  font-size: 2em;
  text-indent: 10px;
  text-align: center;
  color: #1259c3;
}

.textos {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
}


.description{
  display: none;
}

nav {
  display: none;
}

.top-header{
  display: flex;
  justify-content: center;
}

.copy-header{
  text-align: center;
}

.fa-truck{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  right: 20px;
  top: -15px;
  z-index: 1;
  float: right;
  margin-top: -19px;
}

main section article i:hover {
  transform: rotate(-90deg);
}
input[type="submit"]:hover {
  background-color: #0022AA;
}

.form-login{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  width: 50%;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

input[type="submit"]{
  background-color: #ebebeb;
  border: solid 1px #666;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  margin: auto;
}

input[type="reset" i]{
  display: flex;
  background-color: #ebebeb;
  border: solid 1px #666;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

.form-ajust{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}


@media screen and (min-width: 769px){
  .top-header{
    display: flex;
    flex-wrap: wrap;
}
header nav {
   display: flex;
   justify-content: space-between;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
}
header nav ul li{
    margin: 0 10px;
}
.burger-menu{
    display: none;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.products article{
    box-shadow: none;
    display: inline;
    width: 43%;
    margin: 5px 10px;
    box-sizing: border-box;
    transition: box-shadow 450ms;
}
.products article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.description{
    display: inline-block;
    opacity: 0;
    transition: opacity 450ms;
}

.description:hover{
    opacity: 1;
}
}

@media screen and (min-width: 1200px){
  header nav {
    display: block;
}
.burger-menu{
    display: none;
}
.products {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px;
}
.products article {
    box-shadow: none;
    transition: box-shadow 450ms;
}
.products article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.description{
    display: block;
    opacity: 0;
    transition: opacity 450ms;
}
.description:hover{
    opacity: 1;
}
.box{
  display: flex;
}
.box2{
  display: flex;
  flex-direction: column;
}
}

